{{- $config := joinPath .chezmoi.homeDir ".config/sketchybar/config.yaml" | include | fromYaml -}}
#!/bin/bash

URL={{ $config.item.uptime_kuma.metrics_url | quote }}
UP=$(curl -s "$URL" | grep -c "^monitor_status{.*1$")
DOWN=$(curl -s "$URL" | grep -c "^monitor_status{.*0$")
TOTAL=$[$UP + $DOWN]

if [[ $DOWN == 0 ]]; then
  LABEL="$(printf "{{ $config.item.uptime_kuma.label_format.up }}" )"
  sketchybar -m --set $NAME label="$LABEL" \
            {{- range $config.item.uptime_kuma.args.uptime_kuma_up }}
            {{ . }} \
            {{- end }}

else
  LABEL="$(printf "{{ $config.item.uptime_kuma.label_format.down }}" )"
  sketchybar -m --set $NAME label="$LABEL" \
            {{- range $config.item.uptime_kuma.args.uptime_kuma_down }}
            {{ . }} \
            {{- end }}

fi
