
# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Path to your oh-my-zsh installation.
export ZSH=~/.oh-my-zsh
export ZSH_CUSTOM=$ZSH/custom

{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_PREFIX=$(brew --prefix)
{{- end }}

export LANG=en_US.UTF-8 LC_ALL=en_US.UTF-8

# Load P10K theme
{{- if eq .chezmoi.os "darwin" }}
source $HOMEBREW_PREFIX/opt/powerlevel10k/powerlevel10k.zsh-theme
{{- else }}
source /usr/share/zsh-theme-powerlevel10k/powerlevel10k.zsh-theme
{{- end }}

ZSH_WEB_SEARCH_ENGINES=(
  whoogle "https://whoogle.internal.freddrake.com/search?q="
)

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.

plugins=(
{{ if eq .chezmoi.os "darwin" -}}
  macos
  brew
{{- end }}
  git
  z
  ruby
  golang
  scala
  gem
  history
  zsh-syntax-highlighting
  history-substring-search
  nanoc
  kubectl
  zsh-autosuggestions
  web-search
  sudo
  dirhistory
  docker
  docker-compose
  auto-notify
  you-should-use
  zsh-vi-mode
)

# Auto-notify settings (https://github.com/MichaelAquilina/zsh-auto-notify)
export AUTO_NOTIFY_THRESHOLD=20

# VI Mode settings (https://github.com/jeffreytse/zsh-vi-mode)
export ZVM_LINE_INIT_MODE=$ZVM_MODE_INSERT
export ZVM_VI_ESCAPE_BINDKEY=jk

source $ZSH/oh-my-zsh.sh

# User configuration

export XDG_CONFIG_HOME=$HOME/.config
source $XDG_CONFIG_HOME/ohmyzsh/custom/variables.zsh
source $XDG_CONFIG_HOME/ohmyzsh/custom/functions.zsh
source $XDG_CONFIG_HOME/ohmyzsh/custom/functions-private.zsh
source $XDG_CONFIG_HOME/ohmyzsh/custom/aliases.zsh
source $XDG_CONFIG_HOME/ohmyzsh/custom/lf-config.zsh

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

eval "$(direnv hook zsh)"

# Put our personal bin ahead of everything else
export PATH="$HOME/bin:$HOME/.cargo/bin:$HOME/go/bin:$PATH"
