{{- $versions := joinPath .chezmoi.sourceDir "versions.yaml" | include | fromYaml -}}
#!/bin/bash
{{- if eq .chezmoi.os "darwin" }}
# Hash Brewfile {{- $versions.versions.skhd | sha256sum }}
brew services restart skhd
{{- end }}
