{{- $secret := joinPath .chezmoi.sourceDir "dot_config/spotifyd/encrypted_secrets.yaml" | include | decrypt | fromYaml -}}
[global]
username = "{{ $secret.username }}"
password = "{{ $secret.password }}"

{{- if eq .type "macbook" }}
device_name = "Macbook Air"
{{- else if eq .type "studio" }}
device_name = "Mac Studio"
{{- else }}
device_name = "unknown"
{{- end }}
device_type = "computer"

cache_path = "/Users/fdrake/Library/Application Support/Spotify/PersistentCache/Storage"
no_audio_cache = false

bitrate = 320
# volume_normalisation = true
# normalisation_pregain = -10

backend = "rodio"
mixer = "PCM"
volume_controller = "softvol"
zeroconf_port = 1234

