#!/bin/bash
{{- if eq .chezmoi.os "darwin" }}
  {{- $brewfile := joinPath .chezmoi.sourceDir "Brewfile" -}}
# Hash Brewfile {{ include $brewfile | sha256sum }}
brew bundle --file {{ $brewfile }}
{{- else }}
  {{- $pacfile := joinPath .chezmoi.sourceDir "pacfile" }}
  {{- if stat $pacfile }}
# Hash Pacfile {{ include $pacfile | sha256sum }}
  {{- end }}
sudo pacman --noconfirm --needed -S - < {{ $pacfile }}
{{- end }}
