{{- /* Template file for chezmoi config file */ -}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- $agekey := false -}}{{/* true if this machine has agekey to decrypt secret */}}
{{- $laptop := false -}}{{/* true if this machine is a laptop */}}
{{- $battery := false -}}{{/* true if this machine runs on battery power */}}

{{- /* Get machine ID from file originally created as a run script */ -}}
{{- $machineIDFile := joinPath .chezmoi.homeDir "/machine_id" }}
{{- $machineType := include $machineIDFile | toString }}


{{- if eq $machineType "macbook" }}
{{-   $kubernetes = true }}
{{-   $agekey = true }}
{{-   $battery = true }}
{{-   $laptop = true }}
{{- end }}
{{- if eq $machineType "studio" }}
{{-   $kubernetes = true }}
{{-   $agekey = true }}
{{- end -}}
{{- if eq $machineType "devone" }}
{{-   $kubernetes = true }}
{{-   $agekey = true }}
{{-   $battery = true }}
{{-   $laptop = true }}
{{- end }}

encryption: age
age:
  identity: ~/.age/personal-key.txt
  recipient: age1ffag60kk9es84dk2yg7ppax6ygmg7a34hpve86d8w8l40k4fj3tq2zqxjg
data:
  type: {{ $machineType }}
  attr:
    headless: {{ $headless }}
    kubernetes: {{ $kubernetes }}
    agekey: {{ $agekey }}
    battery: {{ $battery }}
    laptop: {{ $laptop }}
