#!/usr/bin/env sh

#
# for this to work you must configure sudo such that
# it will be able to run the command without password
#
# see this wiki page for information:
#  - https://github.com/koekeishiya/yabai/wiki/Installing-yabai-(latest-release)#configure-scripting-addition
#
yabai -m signal --add event=dock_did_restart action="sudo yabai --load-sa"
sudo yabai --load-sa
#

# global settings
yabai -m config                                 \
    mouse_follows_focus          off            \
    focus_follows_mouse          off            \
    window_origin_display        default        \
    window_placement             second_child   \
    window_topmost               off            \
    window_shadow                on             \
    window_animation_duration    0.0            \
    window_opacity_duration      0.0            \
    active_window_opacity        1.0            \
    normal_window_opacity        0.90           \
    window_opacity               off            \
    insert_feedback_color        0xffd75f5f     \
    active_window_border_color   0xffcccccc     \
    normal_window_border_color   0xff333333     \
    window_border_width          4              \
    window_border_radius         12             \
    window_border_blur           off            \
    window_border_hidpi          on             \
    window_border                on             \
    split_ratio                  0.50           \
    split_type                   auto           \
    auto_balance                 on            \
    top_padding                  47             \
    bottom_padding               05             \
    left_padding                 05             \
    right_padding                05             \
    window_gap                   06             \
    layout                       bsp            \
    mouse_modifier               fn             \
    mouse_action1                move           \
    mouse_action2                resize         \
    mouse_drop_action            swap


# Space labels
yabai -m space 1 --label "Home"
yabai -m space 2 --label "Work"
yabai -m space 3 --label "Notes"
yabai -m space 4 --label "Everything Else"

# Space 1 = Focus for home
yabai -m rule --add app="Alacritty" space=1
yabai -m rule --add app="Brave Browser" space=1

# # Space 2 = Focus for work
yabai -m rule --add app="Google Chrome" space=2

# # Obsidian
{{- if eq .type "studio" }}
yabai -m rule --add app="Obsidian" space=8
{{- else }}
yabai -m rule --add app="Obsidian" space=3
{{- end }}

yabai -m rule --add app="Safari" space=3

{{- if eq .type "studio" }}
yabai -m rule --add app="Calendar" space=6
yabai -m rule --add app="Mail" space=6
{{- end }}

# # Space 4 = Everything Else
yabai -m rule --add app="Slack" space=4
yabai -m rule --add app="Discord" space=4
yabai -m rule --add app="Messages" space=4

# # Floating
yabai -m rule --add app="^System Settings$" sticky=on manage=off
yabai -m rule --add app="^Finder$" sticky=on manage=off
yabai -m rule --add app="^Disk Utility$" sticky=on manage=off
yabai -m rule --add app="^System Information$" sticky=on  manage=off
yabai -m rule --add app="^Activity Monitor$" sticky=on manage=off
yabai -m rule --add app="^Notes$" sticky=on manage=off
yabai -m rule --add app="^Bitwarden$" sticky=on manage=off
yabai -m rule --add app="^News$" sticky=on manage=off
yabai -m rule --add app="^Apple Calendar.*$" sticky=on manage=off

echo "yabai configuration loaded.."
