{{- $config := joinPath .chezmoi.homeDir ".config/sketchybar/config.yaml" | include | fromYaml -}}
{{- if $config.item.stats.enabled -}}

sketchybar -m                                                       \
    --add item stats_cpu_label {{ $config.item.stats.position }}    \
        --set stats_cpu_label                                       \
              {{- range $config.item.stats.args.cpu_label }}
              {{ . }}                                               \
              {{- end }}
                                                                    \
    --add item stats_cpu_percent {{ $config.item.stats.position }}  \
        --set stats_cpu_percent                                     \
              {{- range $config.item.stats.args.cpu_percent }}
              {{ . }}                                               \
              {{- end }}
              script="$PLUGIN_DIR/stats/cpu.sh"                     \
                                                                    \
    --add item stats_mem_label {{ $config.item.stats.position }}   \
        --set stats_mem_label                                       \
              {{- range $config.item.stats.args.mem_label }}
              {{ . }}                                               \
              {{- end }}
                                                                    \
    --add item stats_mem_percent {{ $config.item.stats.position }}  \
        --set stats_mem_percent                                     \
              {{- range $config.item.stats.args.mem_percent }}
              {{ . }}                                               \
              {{- end }}
            script="$PLUGIN_DIR/stats/memory.sh"                    \
    --add bracket stats_bracket  '/stats_.*/'                       \
        --set stats_bracket                                         \
              {{- range $config.item.stats.args.bracket }}
              {{ . }}                                               \
              {{- end }}

{{- end }} 
