{{- $config := joinPath .chezmoi.homeDir ".config/sketchybar/config.yaml" | include | fromYaml -}}
{{- if $config.item.time.enabled -}}

eval sketchybar -m                                          \
    --add item time_top {{ $config.item.time.position }}         \
        --set time_top                                          \
            script="$HOME/.config/sketchybar/plugins/time/time.sh"   \
              {{- range $config.item.time.args.time_top }}
              {{ . }} \
              {{- end }}
    --add item time_bottom {{ $config.item.time.position }}         \
        --set time_bottom                                          \
            script="$HOME/.config/sketchybar/plugins/time/time.sh"   \
              {{- range $config.item.time.args.time_bottom }}
              {{ . }} \
              {{- end }}
    --add bracket time_bracket '/time_.*/'                     \
        --set time_bracket \
              {{- range $config.item.time.args.bracket }}
              {{ . }} \
              {{- end }}

{{- end }} 
