{{- $config := joinPath .chezmoi.homeDir ".config/sketchybar/config.yaml" | include | fromYaml -}}
{{- if $config.item.upcoming.enabled -}}

sketchybar -m                                                             \
    --add item weather {{ $config.item.weather.position }}                \
        --set weather                                                     \
            script="$PLUGIN_DIR/weather/weather.sh"                       \
              {{- range $config.item.weather.args.weather }}
              {{ . }}                                                     \
              {{- end }}
                                                                          \
    --add bracket weather_bracket '/weather/'                             \
        --set weather_bracket                                             \
              {{- range $config.item.weather.args.bracket }}
              {{ . }}                                                     \
              {{- end }}

{{- end }}
