{{- /* Colors */ -}}
{{- $black := "0xff181926" -}}
{{- $white := "0xffcad3f5" -}}
{{- $red := "0xffed8796" -}}
{{- $green := "0xffa6da95" -}}
{{- $blue := "0xff8aadf4" -}}
{{- $yellow := "0xffeed49f" -}}
{{- $orange := "0xfff5a97f" -}}
{{- $magenta := "0xfff9a0f9" -}}
{{- $grey := "0xff939ab7" -}}
{{- $transparent := "0x00000000" -}}
{{- $bracket_color := "0xff3c3e4f" -}}

{{- /* Defaults */ -}}
{{- $default_padding := 3 -}}
{{- $default_symbol_font := "Hack Nerd Font Mono:Bold:20.0" -}}
{{- $default_symbol_font_smaller := "Hack Nerd Font Mono:Bold:15.0" -}}
{{- $default_text_font := "JetBrainsMonoNL Nerd Font Mono:Regular:15.0" -}}

#
# Sketchybar YAML configuration
#

# Default padding that's set throughout the document

# Settings for the bar itself.
bar:
  - height=39
  - color=0xff24273a
  - shadow="on"
  - position=top
  - sticky="on"
  - padding_left=8
  - padding_right=2
  - corner_radius=9
  - y_offset=3
  - margin=5
  - blur_radius=20
  - notch_width=0

# Default settings that get defined in sketchybar.
default:
  - updates=when_shown
  - icon.font={{ $default_symbol_font | quote }}
  - icon.color={{ $white }}
  - icon.padding_left={{ $default_padding }}
  - icon.padding_right={{ $default_padding }}
  - label.font={{ $default_text_font | quote }}
  - label.color={{ $white }}
  - label.padding_left={{ $default_padding }}
  - label.padding_right={{ $default_padding }}
  - background.padding_left={{ $default_padding }}
  - background.padding_right={{ $default_padding }}
  - background.height=26
  - background.corner_radius=9
  - popup.background.border_width=2
  - popup.background.corner_radius=11
  - popup.background.border_color={{ $white }}
  - popup.background.color={{ $black }}
  - popup.background.shadow.drawing="on"

# Each of the items that populate the bar.
#
# Settings under the "args" are dynamically built
# into the settings for each module, allowing you to add/remove/modify look, feel and content
# without changing code.  The "icon.symbol" gets translated to sketchybar's "icon", and
# "label.content" translates to sketchybar's "label".  All others are blindly added to the
# settings.
#
# Most of these items also have bracket modules that can optionally be drawn in.  These can give
# a nice contrast and separation between items, especially if your bar becomes cluttered.
item:

  # The apple logo that we all know and love.  In my case, it is purely aesthetic.
  apple:
    position: left
    enabled: true
    args:
      apple:
        - icon=                                                                    
        - icon.font={{ $default_symbol_font | quote }}
        - icon.color={{ $green }}
        - background.padding_right=10
        - label.drawing=off
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=off
  # Display current input and output device
  audio:
    position: right
  {{- if or (eq .type "macbook") (eq .type "macbookpro") }}
    enabled: false
  {{- else }}
    enabled: true
  {{- end }}
    display_order:
      - input
      - separator
      - output
    args:
      input:
        defaults:
          - update_freq=60
          - label.drawing=off
          - icon=?
          - icon.font="{{ $default_symbol_font_smaller }}"
          - background.padding_right=0
          - background.padding_left=0
          - icon.padding_left=5
          - icon.padding_right=5
          - icon.color="0xff996666"
        PRO X Wireless Gaming Headset:
          - icon=
        NexiGo N60 FHD Webcam:
          - icon=犯
      output:
        defaults:
          - update_freq=60
          - label.drawing=off
          - icon=?
          - icon.font="{{ $default_symbol_font_smaller }}"
          - background.padding_right=0
          - background.padding_left=0
          - icon.padding_left=5
          - icon.padding_right=5
          - icon.color="0xff669966"
        PRO X Wireless Gaming Headset:
          - icon=
        External Headphones:
          - icon=蓼
      separator:
        - icon="|" 
        - icon.font="{{ $default_symbol_font_smaller }}"
        - background.padding_right=0
        - background.padding_left=0
        - icon.padding_left=0
        - icon.padding_right=0
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=on

  # The amount of charge remaining on the battery.
  battery:
    position: right
  {{- if .attr.battery }}
    enabled: true
  {{- else }}
    enabled: false
  {{- end }}
    args:
      - icon=
      - update_freq=3
    icon:
      charging:   
      batt_100: 
      batt_90: 
      batt_80: 
      batt_70: 
      batt_60: 
      batt_50: 
      batt_40: 
      batt_30: 
      batt_20: 
      batt_10: 

  # Brew packages available for update
  brew:
    enabled: true
    position: right
    # Make sure these are in ascending order of threshold count in order to work correctly
    threshold_colors:
      - threshold: 1
        color: "{{ $white }}"
      - threshold: 20
        color: "{{ $yellow }}"
      - threshold: 30
        color: "{{ $orange }}"
      - threshold: 50
        color: "{{ $red }}"
    args:
      brew:
        - icon=
        - label=?
        - background.padding_right=10
        - update_freq=3600
      no_updates:
        - label=
        - label.font={{ $default_symbol_font | quote }}
        - label.color={{ $green }}
      updates_available:
        - label.font={{ $default_text_font | quote }}
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=on

  # Displays the application name of the window with the current focus.
  front_app:
  {{- if or .attr.laptop (eq .type "macbook") (eq .type "macbookpro") }}
    enabled: false
  {{- else }}
    enabled: true
  {{- end }}
    position: left
    args:
      front_app:
        - icon=﩯
        - icon.color={{ $orange }}
        - icon.drawing=on
        - background.padding_left=10
        - background.padding_right=10
        - label.color={{ $white }}
        - associated_display=active
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=on

  # A graphical representation of the different screen spaces open.  Clicking
  # will send you to that space.  Right-clicking will close the space.  Clicking
  # the "greater than" icon next to the spaces in the focused window will create
  # a space.
  spaces:
    position: left
  {{- if .attr.laptop }}
    enabled: false
  {{- else }}
    enabled: true
  {{- end }}

    # You can leave these as numbered, or use your own nerd font icon to represent
    # that space's theme.
    space_icons:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
      - "7"
      - "8"
      - "9"
      - "10"
      - "11"
      - "12"
      - "13"
      - "14"
      - "15"
    args:
      space:
        - icon.padding_left=10
        - icon.padding_right=15
        - icon.highlight_color={{ $magenta }}
        - icon.font="{{ $default_symbol_font_smaller }}"
        - background.padding_left=2
        - background.padding_right=0
        - label.padding_right=16
        - label.y_offset=-1
        - label.drawing=off
        - label.background.height=26
        - label.background.color="0xff494d64"
        - label.background.corner_radius=8
        - label.background.drawing=on
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=on
      separator:
        - icon=
        - icon.color={{ $white }}
        - icon.font={{ $default_symbol_font | quote }}
        - background.padding_left=15
        - background.padding_right=10
        - label.drawing=off
        - associated_display=active

  # Display stats for your machine.  Currently shows CPU and Memory.
  stats:
    enabled: true
    position: right
    args:
      cpu_label:
        - label="CPU"
        - label.font="Hack Nerd Font Mono:Bold:8"
        - align=center
        - background.padding_right=8
        - y_offset=6
        - width=0
      cpu_percent:
        - label.font="Hack Nerd Font Mono:Bold:12"
        - y_offset=-4
        - update_freq=2
        - width=25
      mem_label:
        - label="Mem"
        - label.font="Hack Nerd Font Mono:Bold:8"
        - align=center
        - background.padding_right=17
        - y_offset=6
        - width=0
      mem_percent:
        - label.font="Hack Nerd Font Mono:Bold:12"
        - background.padding_right=10
        - y_offset=-4
        - update_freq=5
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=on

  # The system time, what you normally see in the top right of your screen.
  time:
    position: right
    enabled: true
    args:
      time_top:
        - update_freq=1
        - label.font="Hack Nerd Font Mono:Bold:8.0"
        - background.padding_right=28
        - y_offset=9
        - width=0
      time_bottom:
        - update_freq=1
        - y_offset=-5
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=off
{{- /*
     Format Description	                                                            Example
      %%    A literal %                                                             %%
      %a	  Name of weekday in short (like Sun, Mon, Tue, Wed, Thu, Fri, Sat)	      Mon
      %A	  Name of weekday in full (like Sunday, Monday, Tuesday)	                Monday
      %b	  Name of Month in short (like Jan, Feb, Mar )	                          Jan
      %B	  Month name in full (like January, February)	                            January
      %c    Full date and time                                                      Thu Mar 3 23:05:25 2005
      %C    Century; like %Y except omit last two digits                            21
      %d	  Day of month (e.g., 01)	                                                04
      %D	  Current Date; shown in MM/DD/YY	                                        02/18/18
      %e    Day of month, space padded; same as %_d                                  4
      %F	  Date; shown in YYYY-MM-DD	                                              2018-01-19
      %H	  Hour in 24-hour clock format	                                          18
      %I	  Hour in 12-hour clock format	                                          10
      %j	  Day of year (001..366)	                                                152
      %k    Hour in 24-hour clock format, single digit 0-9                           8
      %l    Hour in 12-hour clock format, single digit 0-9                           5
      %m	  Number of month (01..12) (01 is January)	                              05
      %M	  Minutes (00..59)	                                                      52
      %n    A newline
      %N	  Nanoseconds (000000000..999999999)	                                    300231695
      %p    Locale's equivalent of either AM or PM; blank if not known              PM
      %P    Locale's equivalent of either am or pm; blank if not known              pm
      %r    12 hour full clock time                                                 11:11:04 PM
      %R    24-hour hour and minute; same as %H:%M                                  23:11
      %s    Seconds since 1970-01-01 00:00:00 UTC                                   1673128569
      %S	  Seconds (00..59)	                                                      18
      %t    A tab
      %T	  Time as HH:MM:SS (Hours in 24 Format)	                                  18:55:42
      %u	  Day of week (1..7); 1 is Monday	                                        7
      %U	  Displays week number of year, with Sunday as first day of week (00..53)	23
      %w    Day of week (0..6); 0 is Sunday                                         2
      %W    Week number of year, with Monday as first day of week (00..53)          28
      %x    Locale's date representation                                            12/31/99
      %X    Locale's time representation                                            23:13:48
      %y    Last two digits of the year (00..99)                                    22
      %Y	  Displays full year i.e. YYYY	                                          2018
      %z    +hhmm numeric timezone                                                  -0400
      %:z   +hh:mm numeric timezone                                                 -04:00
      %::z  +hh:mm:ss numeric time zone                                             -04:00:00
      %:::z Numeric timezone with : to necessary precision                          -04, +05:30
      %Z	  Time zone abbreviation (Ex: IST, GMT)	                                  IST
*/}}
    format:
      top: "%a %b %-d"
      bottom: "%-I:%M:%S %p"

  # Looks through the mac calendars to find your next meeting, and if you
  # have a meeting in progress.
  upcoming:
  {{- if eq .type "macbook" }}
    enabled: false
  {{- else }}
    enabled: true
  {{- end }}
  {{- if eq .type "macbookpro" }}
    position: left
    time_style: short
  {{- else }}
    position: center
    time_style: long
  {{- end }}
    args:

      # Styles based on the meeting type (Microsoft Teams, Google Meet, 
      # Cisco Webex, Zoom, a default, and no meeting at all)
      meeting_type:

        # Upcoming meetings
        upcoming:
          default:
            - icon=
            - icon.color=0xffffffff
            - icon.font={{ $default_symbol_font | quote }}
          teams:
            - icon=
            - color=0xff000033
            - icon.font={{ $default_symbol_font | quote }}
          webex:
            - icon=
            - icon.color=0xff0000ff
            - icon.font={{ $default_symbol_font | quote }}
          zoom:
            - icon=Z
            - icon.color=0xff2d8cff
            - icon.font={{ $default_symbol_font | quote }}
          meet:
            - icon=
            - icon.color=0xff00ff00
            - icon.font={{ $default_symbol_font | quote }}
          none:
            - icon=
            - icon.color=0xffffffff
            - icon.font={{ $default_symbol_font | quote }}
            - label="No upcoming event"

        # For meetings currently in progress
        now:
          default:
            - icon=
            - icon.color=0xffffffff
            - icon.drawing=on
            - label.drawing=on
            - icon.font={{ $default_symbol_font | quote }}
          teams:
            - icon=
            - icon.color=0xff000033
            - icon.drawing=on
            - label.drawing=on
            - icon.font={{ $default_symbol_font | quote }}
          webex:
            - icon=
            - icon.color=0xff0000ff
            - icon.drawing=on
            - label.drawing=on
            - icon.font={{ $default_symbol_font | quote }}
          zoom:
            - icon=Z
            - icon.color=0xff2d8cff
            - icon.drawing=on
            - label.drawing=on
            - icon.font={{ $default_symbol_font | quote }}
          meet:
            - icon=
            - icon.color=0xff00ff00
            - icon.drawing=on
            - label.drawing=on
            - icon.font={{ $default_symbol_font | quote }}
          none:
            - icon.drawing=off
            - label.drawing=off

      # Item-level attributes for the module controlling active meetings
      meeting_now:
        - update_freq=20
        - updates=on
        - label.color={{ $yellow }}
        - label.padding_right=20
        - associated_display=1,2
      # Item-level attributes for the module controlling the next meeting
      next_meeting:
        - update_freq=20
        - updates=on
        - associated_display=1,2
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=off

  # Uptime Kuma downtime notifier
  uptime_kuma:
    enabled: true
    position: right
    metrics_url: https://uptime-kuma.internal.freddrake.com/metrics
    # Use ${UP} for services that are currently up, ${DOWN} for down services, and ${TOTAL} for total services
    label_format:
  {{- if .attr.laptop }}
      up: ""
      down: "${UP} / ${TOTAL}"
  {{- else }}
      up: ""
      down: "Uptime Kuma: ${UP} / ${TOTAL}"
  {{- end }}
    args:
      uptime_kuma:
        - click_script="open -a Finicky https://uptime-kuma.internal.freddrake.com"
        - associated_display=1,2
        - icon=歷
        - icon.color={{ $white }}
        - icon.font={{ $default_symbol_font | quote }}
        - label=Uptime Kuma
        - label.color={{ $white }}
        - update_freq=30
        - updates=on
      uptime_kuma_up:
        - icon=歷
        - icon.color={{ $white }}
        - label.color={{ $green }}
        - label.font={{ $default_symbol_font | quote }}
      uptime_kuma_down:
        - icon.symbol=轢
        - icon.color={{ $red }}
        - label.color={{ $red }}
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=on

  # Shows which VPNs you are currently connected to
  vpn:
    enabled: true
    position: right
    args:
      vpn:
        - icon=
        - icon.font={{ $default_symbol_font | quote }}
        - update_freq=5
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=on

  # Weather widget for the bar
  weather:
    position: right
    celsius: false
    args:
      weather:
        - update_freq: 300
        - icon.font={{ $default_symbol_font | quote }}
        - padding_left=10
        - label.padding_right=10 
        - label.y_offset=1
        - background.drawing=on
        - click_script="open -a Weather"
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=on

    icon_code:
      day:
        "1000":   # Sunny/113
        "1003":   # Partly cloudy/116
        "1006":   # Cloudy/119
        "1009":   # Overcast/122
        "1030":   # Mist/143
        "1063":   # Patchy rain possible/176
        "1066":   # Patchy snow possible/179
        "1069":   # Patchy sleet possible/182
        "1072":   # Patchy freezing drizzle possible/185
        "1087":   # Thundery outbreaks possible/200
        "1114":   # Blowing snow/227
        "1117":   # Blizzard/230
        "1135":   # Fog/248
        "1147":   # Freezing fog/260
        "1150":   # Patchy light drizzle/263
        "1153":   # Light drizzle/266
        "1168":   # Freezing drizzle/281
        "1171":   # Heavy freezing drizzle/284
        "1180":   # Patchy light rain/293
        "1183":   # Light rain/296
        "1186":   # Moderate rain at times/299
        "1189":   # Moderate rain/302
        "1192":   # Heavy rain at times/305
        "1195":   # Heavy rain/308
        "1198":   # Light freezing rain/311
        "1201":   # Moderate or heavy freezing rain/314
        "1204":   # Light sleet/317
        "1207":   # Moderate or heavy sleet/320
        "1210":   # Patchy light snow/323
        "1213":   # Light snow/326
        "1216":   # Patchy moderate snow/329
        "1219":   # Moderate snow/332
        "1222":   # Patchy heavy snow/335
        "1225":   # Heavy snow/338
        "1237":   # Ice pellets/350
        "1240":   # Light rain shower/353
        "1243":   # Moderate or heavy rain shower/356
        "1246":   # Torrential rain shower/359
        "1249":   # Light sleet showers/362
        "1252":   # Moderate or heavy sleet showers/365
        "1255":   # Light snow showers/368
        "1258":   # Moderate or heavy snow showers/371
        "1261":   # Light showers of ice pellets/374
        "1264":   # Moderate or heavy showers of ice pellets/377
        "1273":   # Patchy light rain with thunder/386
        "1276":   # Moderate or heavy rain with thunder/389
        "1279":   # Patchy light snow with thunder/392
        "1282":   # Moderate or heavy snow with thunder/395
      night:
        "1000":   # Clear/113
        "1003":   # Partly cloudy/116
        "1006":   # Cloudy/119
        "1009":   # Overcast/122
        "1030":   # Mist/143
        "1063":   # Patchy rain possible/176
        "1066":   # Patchy snow possible/179
        "1069":   # Patchy sleet possible/182
        "1072":   # Patchy freezing drizzle possible/185
        "1087":   # Thundery outbreaks possible/200
        "1114":   # Blowing snow/227
        "1117":   # Blizzard/230
        "1135":   # Fog/248
        "1147":   # Freezing fog/260
        "1150":   # Patchy light drizzle/263
        "1153":   # Light drizzle/266
        "1168":   # Freezing drizzle/281
        "1171":   # Heavy freezing drizzle/284
        "1180":   # Patchy light rain/293
        "1183":   # Light rain/296
        "1186":   # Moderate rain at times/299
        "1189":   # Moderate rain/302
        "1192":   # Heavy rain at times/305
        "1195":   # Heavy rain/308
        "1198":   # Light freezing rain/311
        "1201":   # Moderate or heavy freezing rain/314
        "1204":   # Light sleet/317
        "1207":   # Moderate or heavy sleet/320
        "1210":   # Patchy light snow/323
        "1213":   # Light snow/326
        "1216":   # Patchy moderate snow/329
        "1219":   # Moderate snow/332
        "1222":   # Patchy heavy snow/335
        "1225":   # Heavy snow/338
        "1237":   # Ice pellets/350
        "1240":   # Light rain shower/353
        "1243":   # Moderate or heavy rain shower/356
        "1246":   # Torrential rain shower/359
        "1249":   # Light sleet showers/362
        "1252":   # Moderate or heavy sleet showers/365
        "1255":   # Light snow showers/368
        "1258":   # Moderate or heavy snow showers/371
        "1261":   # Light showers of ice pellets/374
        "1264":   # Moderate or heavy showers of ice pellets/377
        "1273":   # Patchy light rain with thunder/386
        "1276":   # Moderate or heavy rain with thunder/389
        "1279":   # Patchy light snow with thunder/392
        "1282":   # Moderate or heavy snow with thunder/395

  # Shows which wifi you're connected to, or if you are not connected at all.
  wifi:
    enabled: true
    position: right
    args:
      wifi:
        - icon.font={{ $default_symbol_font | quote }}
        - background.padding_right=12
        - update_freq=5
        - click_script="open /System/Library/PreferencePanes/Network.prefPane/"
      wifi_up:
        - icon=直
        - icon.color={{ $white }}
        - label.drawing=on
      wifi_down:
        - icon=睊
        - icon.color={{ $orange }}
        - label.drawing=off
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=on

  # Displays current time for many timezones
  worldtime:
    enabled: true
    position: right
{{- /*
     Format Description	                                                            Example
      %%    A literal %                                                             %%
      %a	  Name of weekday in short (like Sun, Mon, Tue, Wed, Thu, Fri, Sat)	      Mon
      %A	  Name of weekday in full (like Sunday, Monday, Tuesday)	                Monday
      %b	  Name of Month in short (like Jan, Feb, Mar )	                          Jan
      %B	  Month name in full (like January, February)	                            January
      %c    Full date and time                                                      Thu Mar 3 23:05:25 2005
      %C    Century; like %Y except omit last two digits                            21
      %d	  Day of month (e.g., 01)	                                                04
      %D	  Current Date; shown in MM/DD/YY	                                        02/18/18
      %e    Day of month, space padded; same as %_d                                  4
      %F	  Date; shown in YYYY-MM-DD	                                              2018-01-19
      %H	  Hour in 24-hour clock format	                                          18
      %I	  Hour in 12-hour clock format	                                          10
      %j	  Day of year (001..366)	                                                152
      %k    Hour in 24-hour clock format, single digit 0-9                           8
      %l    Hour in 12-hour clock format, single digit 0-9                           5
      %m	  Number of month (01..12) (01 is January)	                              05
      %M	  Minutes (00..59)	                                                      52
      %n    A newline
      %N	  Nanoseconds (000000000..999999999)	                                    300231695
      %p    Locale's equivalent of either AM or PM; blank if not known              PM
      %P    Locale's equivalent of either am or pm; blank if not known              pm
      %r    12 hour full clock time                                                 11:11:04 PM
      %R    24-hour hour and minute; same as %H:%M                                  23:11
      %s    Seconds since 1970-01-01 00:00:00 UTC                                   1673128569
      %S	  Seconds (00..59)	                                                      18
      %t    A tab
      %T	  Time as HH:MM:SS (Hours in 24 Format)	                                  18:55:42
      %u	  Day of week (1..7); 1 is Monday	                                        7
      %U	  Displays week number of year, with Sunday as first day of week (00..53)	23
      %w    Day of week (0..6); 0 is Sunday                                         2
      %W    Week number of year, with Monday as first day of week (00..53)          28
      %x    Locale's date representation                                            12/31/99
      %X    Locale's time representation                                            23:13:48
      %y    Last two digits of the year (00..99)                                    22
      %Y	  Displays full year i.e. YYYY	                                          2018
      %z    +hhmm numeric timezone                                                  -0400
      %:z   +hh:mm numeric timezone                                                 -04:00
      %::z  +hh:mm:ss numeric time zone                                             -04:00:00
      %:::z Numeric timezone with : to necessary precision                          -04, +05:30
      %Z	  Time zone abbreviation (Ex: IST, GMT)	                                  IST
*/}}
    format: "%l:%M"

    {{/* For all timezones: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones */}}
    clocks:
      - label: Argentina
        tz: America/Argentina/Buenos_Aires
        args:
          label:
            - background.padding_right=8
          timestamp:
            - label.padding_right=14
      - label: Brazil
        tz: America/Sao_Paulo
        args:
          label:
            - background.padding_right=30
          timestamp:
            - label.padding_right=30
      - label: Ukraine
        tz: Europe/Kiev
        args:
          label:
            - background.padding_right=40
          timestamp:
            - label.padding_right=45
      - label: Nigeria
        tz: Africa/Lagos
        args:
          label:
            - background.padding_right=61
          timestamp:
            - label.padding_right=65
    args:
      worldtime_label:
        - label.font="Hack Nerd Font Mono:Bold:8"
        - align=center
        - y_offset=6
        - width=0
      worldtime_timestamp:
        - label.font="Hack Nerd Font Mono:Bold:13"
        - y_offset=-4
        - width=30
        - update_freq=2
      bracket:
        - background.color={{ $bracket_color }}
        - background.drawing=on
