{{- $config := joinPath .chezmoi.homeDir ".config/sketchybar/config.yaml" | include | fromYaml -}}
#!/bin/bash

source "$HOME/.config/sketchybar/plugins/upcoming/functions.sh"

CURDT=$(date +"%s")
EVENT=$($HOME/.config/sketchybar/plugins/upcoming/ical-buddy-json.sh \
              -c Home,Work -u | \
              jq -c ".[] | select(.start_at) | select(.start_secs <= $CURDT) |  select(.end_secs > $CURDT)" | \
              head -1)

if [ "$EVENT" = "" ]; then
  sketchybar --set $NAME                                                            \
              {{- range $config.item.upcoming.args.meeting_type.now.none }}
              {{ . }}                                                               \
              {{- end }}

else
  title=$(jq -r ".title" <<< "$EVENT")
  end_secs=$(jq -r ".end_secs" <<< "$EVENT")
  date_label=$(human_time_diff "$end_secs" {{ $config.item.upcoming.time_style | quote }})
  meeting_type=$(meeting_type_by_event "$EVENT")

  label_text="Now: $title ($date_label remaining)" 
  if [[ "$meeting_type" == "teams" ]]; then
    sketchybar --set $NAME label="$label_text"                                      \
              {{- range $config.item.upcoming.args.meeting_type.now.teams }}
              {{ . }}                                                               \
              {{- end }}

  elif [[ "$meeting_type" == "webex" ]]; then
    sketchybar --set $NAME label="$label_text"                                      \
              {{- range $config.item.upcoming.args.meeting_type.now.webex }}
              {{ . }}                                                               \
              {{- end }}

  elif [[ "$meeting_type" == "zoom" ]]; then
    sketchybar --set $NAME label="$label_text"                                      \
              {{- range $config.item.upcoming.args.meeting_type.now.zoom }}
              {{ . }}                                                               \
              {{- end }}

  elif [[ "$meeting_type" == "meet" ]]; then
    sketchybar --set $NAME label="$label_text"                                      \
              {{- range $config.item.upcoming.args.meeting_type.now.meet }}
              {{ . }}                                                               \
              {{- end }}

  else
    sketchybar --set $NAME label="$label_text"                                      \
              {{- range $config.item.upcoming.args.meeting_type.now.default }}
              {{ . }}                                                               \
              {{- end }}

  fi
fi

